<nav class="navbar" id = "navbar_id"> <!--<class="navbar navbar-expand-lg navbar-light bg-light">-->
  <a routerLink="/" routerLinkActive ="active"><div class="navbar-brand">Stock Search</div></a>
      <div class="text-right">
        <a routerLink="/" routerLinkActive ="active"><button type="button" id="searchButton" class="btn btn-default">Search</button></a>  <!--<span class="sr-only">(current)</span>-->
        <a routerLink="/watchlist" routerLinkActive ="active"><button type="button" id="watchlistButton" class="btn btn-default">Watchlist</button></a>
        <a routerLink="/portfolio" routerLinkActive ="active"><button type="button" id="portfolioButton" class="btn btn-default">Portfolio</button></a>
        <a href="javascript:void(0);" class="icon" (click)="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>


</nav>
