<h1>My Portfolio</h1>

<div *ngIf="displayElements; else noElements">
  <div *ngFor = "let element of tickerDetails;">
  <!--  <div *ngIf = "element.isPositive;>-->
      <div class="card mt-3">
          <div class="card-header">
            <a routerLink="/details/{{element.ticker}}" routerLinkActive ="active" class="custom-card" style="color: inherit; text-decoration: none;">
            <span class="bold">{{element.ticker}}</span> &nbsp;&nbsp; <span id="gray">{{element.name}}</span>
            </a>
          </div>
          <div class="card-body text-left">
            <div class="row">
              <div class="col">Quantity:</div><div class="col">{{element.quantity | number : 0}}</div><div class="col">Change:</div><div class="col">{{element.change | number : '1.2-2'}}</div>
            </div>
            <div class="row">
              <div class="col">Avg. Cost/Share:</div><div class="col">{{(element.total/element.quantity) | number:'1.2-2'}}</div><div class="col">Current Price:</div><div class="col">{{element.last | number:'1.2-2'}}</div>
            </div>
            <div class="row">
              <div class="col">Total Cost:</div><div class="col">{{element.total | number : '1.2-2'}}</div><div class="col">Market Price:</div><div class="col">{{(element.last * element.quantity) | number: '1.2-2'}}</div>
            </div>
          </div>
          <div class="card-footer text-muted">
              <button type="button" class="btn btn-danger float-right" (click)="showSellModal(content_sell)">Sell</button>
              <button type="button" class="btn btn-primary float-right mr-2" (click)="showBuyModal(content_buy)">Buy</button>
        </div>
      </div>
      <!-- <div id="buyModal" class="modal fade" role="dialog">
        <div class="modal-dialog"> -->
      <ng-template #content_buy let-c="close" let-d="dismiss">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="buyModal">{{element.ticker.toUpperCase()}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="closeX(c)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Current Price : {{element.last}}<br/>
          <form>
              Quantity: <input type="number" [(ngModel)]="quantityBox" [ngModelOptions]="{standalone: true}"  #qBox><br/>
          </form>
        </div>

        <div class="modal-footer">
          <!-- <div class="mr-auto">Total: {{total | number : '1.2-2'}} </div> -->
          <button type="button" class="btn btn-success" (click)="closeBuy(c,element.ticker)" [disabled]="qBox.value == '' || qBox.value <= 0">Buy</button>
        </div>
        </div>
      </ng-template>
      <!-- </div>
      </div> -->
      <!-- <div id="sellModal" class="modal fade" role="dialog">
        <div class="modal-dialog"> -->
      <ng-template #content_sell let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="sellModal">{{element.ticker.toUpperCase()}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="closeX(c)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Current Price : {{element.last}}<br/>
          <form>
              Quantity: <input type="number" [(ngModel)]="quantityBox" [ngModelOptions]="{standalone: true}"  #qBox><br/>
          </form>
        </div>

        <div class="modal-footer">
          <!-- <div class="mr-auto">Total: {{total | number : '1.2-2'}} </div> -->
          <button type="button" class="btn btn-success" (click)="closeSell(c, element.ticker)" [disabled]="qBox.value == '' || qBox.value <= 0">Sell</button>
        </div>
      </ng-template>

      </div>
</div>

<ng-template #noElements><div class="noStock">Currently you don't have stock.</div></ng-template>
