h1{
  text-align:left;
  font-weight:500;
  margin: 2em;
  font-size: 2em;
  margin-left: 0;
}

.noStock{
  background-color: #ffe5bf;
  padding: 1em;
  width: 100%;
}

.card .card-header{
  text-align:left;

}

.bold{
  font-weight:bold;
  font-size: 2em;
  text-transform:uppercase;
}

#gray{
  color:#696969;
  font-weight:bold;
}
