<div *ngIf="valid; else notValid">
<div class="align-left">
  <ngb-alert [dismissible]="true" #selfClosingAlert *ngIf="successMessage && !isPresent" type="danger" (close)="successMessage = ''" style="text-align:center; margin: 1em;">{{ successMessage }}
  </ngb-alert>
  <ngb-alert [dismissible]="true" #selfClosingAlert *ngIf="successMessage && isPresent" type="success" (close)="successMessage = ''" style="text-align:center; margin: 1em;">{{ successMessage }}
  </ngb-alert>
<h1>
    <div class="right">
      <div *ngIf="isPositive; else isNegative" id="positive">
        {{prices.last | number : '1.2-2'}}<br/>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
          </svg>{{ change | number : '1.2-2'}}({{ changePercent | number : '1.2-2'}}%)
      </div>
      <ng-template #isNegative>
        <div id="negative">
          {{prices.last | number : '1.2-2'}}<br/>
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
          </svg>  {{ change | number : '1.2-2'}}({{ changePercent | number : '1.2-2'}}%)
        </div>
      </ng-template>
      <div id="dateTime">{{_now}}</div>
    </div>
    <div class="ticker_star">
      <div class="row">
        <div class="col-md-auto" style="padding-left:0">
          {{details.ticker}}
        </div>
        <div class="col-md-auto" style="padding-left:0; padding-top:0.2em; padding-right:0;">
          <div *ngIf="!isPresent; else notPresent">
          <svg width="0.7em" height="0.7em" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
            <rect class="btn" x="0" y="0" width="10" height="10" (click)="swapImages()"/>
          </svg>

          </div>

          <!-- <div *ngIf = "isPresent"> -->
          <ng-template #notPresent>
          <svg width="0.7em" height="0.7em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="#ffd700" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
            <rect class="btn" x="0" y="0" width="10" height="10"  (click)="swapImages()" />
          </svg>

          </ng-template>

        </div>
    </div>
    </div>

    <!-- </div> -->

</h1>

<h2>{{details.name}}</h2>
<h3>{{details.exchangeCode}}</h3>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ticker}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeX(c)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Current Price : {{prices.last}}<br/>
    <form>
        Quantity: <input type="number" [(ngModel)]="quantityBox" [ngModelOptions]="{standalone: true}"  #qBox><br/>
    </form>
  </div>

  <div class="modal-footer">
    <!-- <div class="mr-auto">Total: {{total | number : '1.2-2'}} </div> -->
    <button type="button" class="button" (click)="close(c)" [disabled]="qBox.value == '' || qBox.value <= 0">Buy</button>
  </div>
</ng-template>
<button class="button" (click)="open1(content)">Buy</button>
</div>
<br/>

<div *ngIf="marketOpen; else marketClose" id="positive">
<span id="marketOpen">Market is Open</span>
</div>
<ng-template #marketClose>
<span id="marketClose">Market Closed on {{timeStamp}}</span>
</ng-template>

<br/>
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
  <mat-tab label="Summary">
    <br/>

  <div class="stuff" *ngIf="marketOpen; else marketIsClosed">
    <div class="row">
      <div class="col">
    <div id="tableItems">
        <div class="row">
          <div class="col-md">High Price: {{prices.high}}</div> <div class="col-md">Mid Price: {{prices.mid}} </div>
        </div>
        <div class="row">
          <div class="col-md">Low Price: {{prices.low}}</div> <div class="col-md">Ask Price: {{prices.askPrice}}</div>
        </div>
        <div class="row">
          <div class="col-md">Open Price: {{prices.open}}</div> <div class="col-md">Ask Size: {{prices.askSize}}</div>
        </div>
        <div class="row">
          <div class="col-md">Prev. Close: {{prices.prevClose}}</div> <div class="col-md">Bid Price: {{prices.bidPrice}}</div>
        </div>
        <div class="row">
          <div class="col-md">Volume: {{prices.volume}}</div> <div class="col-md">Bid Size: {{prices.bidSize}}</div>
        </div>
    </div>

      <div class="description">
      <div id="center">Company's Description</div>
        <div id="startdate">Start Date: {{details.startDate}}</div>
      {{details.description}}
      </div>
      </div>
      <div class="col">
        <ng-container *ngIf="chartOptions">
      <highcharts-chart *ngIf ="isHighcharts"
      [Highcharts]="Highcharts"
      [options]="chartOptions"
      [constructorType]="'stockChart'"
      [(update)]="updateFlag"
      style="width: 550px; height: 400px; display: block;"
    ></highcharts-chart>
    </ng-container>
    </div>
  </div>
</div>
  <ng-template #marketIsClosed>
    <div class="marketIsClosed">
      <div class="row">
        <div class="col">
        <div id="tableItems">
            <div class="row">
              <div class="col-md">High Price: {{prices.high}}</div>
            </div>
            <div class="row">
              <div class="col">Low Price: {{prices.low}}</div>
            </div>
            <div class="row">
              <div class="col">Open Price: {{prices.open}}</div>
            </div>
            <div class="row">
              <div class="col">Prev. Close: {{prices.prevClose}}</div>
            </div>
            <div class="row">
              <div class="col">Volume: {{prices.volume}}</div>
            </div>
        </div>

        <div class="description">
        <div id="center">Company's Description</div>
          <div id="startdate">Start Date: {{details.startDate}}</div>
        {{details.description}}
        </div>
        </div>
      <div class="col">
        <ng-container *ngIf="chartOptions">
      <highcharts-chart *ngIf ="isHighcharts"
      [Highcharts]="Highcharts"
      [options]="chartOptions"
      [constructorType]="'stockChart'"
      [(update)]="updateFlag"
      style="width: 550px; height: 400px; display: block;"
    ></highcharts-chart>
    </ng-container>
    </div>
    </div>
</div>
  </ng-template>

  </mat-tab>
  <mat-tab label="Top News">
    <div class="row">
      <div class="col">
      <div *ngFor = "let newsItem1 of newsDetails1;">
        <div class="card my-4" (click)="open2(content)">
        <div class="row no-gutters">
          <div class="col-auto">
                <img src="{{newsItem1.urlToImage}}" alt="Image not available" width="200em" height="150em" style="padding:1em;"/>
            </div>
            <div class="col">
                <div class="card-block px-2">
                  <p class="card-text" style="text-align:left; padding-top:1em;">{{newsItem1.title}}</p>
                </div>
            </div>
          </div>
          <!------>

      <!-------->
      </div>
      <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel3" style="color:black;">{{newsItem1.source.name}}<br/><h5><span style="color:#A9A9A9">{{newsItem1.publishedAt}}</span></h5></h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeX(c)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ">
          <div style="font-weight:bold">{{newsItem1.title}}</div>
            <p>{{newsItem1.description}}
            <br/><span style="color:#A9A9A9">For more details click <a href="{{newsItem1.url}}">here</a></span>
          </p>
        </div>
        <div class="modal-footer" style="font-size:2em;">

          <div style="font-size:0.5em;">Share</div>

          <a class="twitter-share-button"
          href="https://twitter.com/intent/tweet?text={{newsItem1.title}}&url={{newsItem1.url}}" >
          <i class="fa fa-twitter" aria-hidden="true" style="color:#1DA1F2"></i>
          </a>
          <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="large">
            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><i class="fa fa-facebook-square"></i></a>
          </div>

        </div>
      </div>
    </ng-template>
      </div>
      </div>
      <div class="col">
        <div *ngFor = "let newsItem2 of newsDetails2;">
          <div class="card my-4" (click)="open2(content)">
            <div class="row no-gutters">
              <div class="col-auto">
                  <img src="{{newsItem2.urlToImage}}" alt="Image not available" width="200em" height="150em" style="padding:1em;">
              </div>
            <div class="col">
              <div class="card-block px-2">
                  <p class="card-text" style="text-align:left; padding-top:1em;">{{newsItem2.title}}</p>
              </div>
            </div>
          </div>
        </div>
        <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel3" style="color:black;">{{newsItem2.source.name}}<br/><h5><span style="color:#A9A9A9">{{newsItem2.publishedAt}}</span></h5></h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeX(c)">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body ">
            <div style="font-weight:bold">{{newsItem2.title}}</div>
              <p>{{newsItem2.description}}
              <br/><span style="color:#A9A9A9">For more details click <a href="{{newsItem2.url}}">here</a></span>
            </p>
          </div>
          <div class="modal-footer" style="font-size:2em;">

            <div style="font-size:0.5em;">Share</div>

            <a class="twitter-share-button"
            href="https://twitter.com/intent/tweet?text={{newsItem2.title}}&url={{newsItem2.url}}" >
            <i class="fa fa-twitter" aria-hidden="true" style="color:#1DA1F2"></i>
            </a>
            <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="large">
              <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><i class="fa fa-facebook-square"></i></a>
            </div>

          </div>
        </div>
      </ng-template>
        </div>
      </div>
      </div>

  </mat-tab>

  <!-- <mat-tab label="Charts">

  <highcharts-chart
  [Highcharts]="Highcharts2"
  [options]="chartOptions2"
  [constructorType]="'stockChart'"
  [(update)]="updateFlag2"
  style="width: 550px; height: 400px; display: block;"
></highcharts-chart>

  </mat-tab> -->
</mat-tab-group>
</div>
<ng-template #notValid>
  <div id="notValid">No results found. Please enter valid Ticker</div>
</ng-template>
