.align-left{
  text-align : left;
}
h1{
  text-align: left;
  font-family: sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 1em;
  /*font-size: 2em;*/
}


h2{
  text-align: left;
  font-family: sans-serif;
  font-weight: 600;
  /*font-size:2em;*/
  color: gray;
}

h3{
  text-align: left;
  font-family: sans-serif;
  font-weight: 400;
  color: gray;
}

h4{
    text-transform: uppercase;
}

.quantityTextBox{
  outline-style: solid;
  outline-color: blue;
}

h1 .right{
  float: right;
  text-align:right;
}
h1 .left{
  text-align:left;
}
h1 .bi.bi-star{
  display: block;
}

h1 .bi.bi-star-fill{
  display: block;
}


rect.btn {
  stroke:#fff;
  fill:#fff;
  fill-opacity:0;
  stroke-opacity:0;
}

#positive{
  color: green;
}

#negative{
  color: red;
}

#dateTime{
  font-size: 0.5em;
}

.close{
  outline: none;
}

#marketOpen{
  background-color: #ccffcc;
}

#marketClose{
  color: red;
  background-color: #ffcccc;
}

#tableItems{
  text-align: left;
  padding-left: 4em;
  padding-top: 1em;
  padding-bottom: 1em;
}
#notValid{
  background-color: #ffcccc;
  padding: 1em;
  margin: 2em;
  overflow:visible;
}
.stuff{
  padding-left: 1em;
}
.marketIsClosed{
  padding-left: 1em;
}
.description{
  text-align:left;
  padding-top: 1em;
}

#startdate{
  padding: 1em;
  padding-left: 0;
}

#center{
  text-align: center;
  font-weight: bold;
}
.button {
  border-radius: 0.25em;
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 0.5em 1em;
  outline: none;
}
